*.swp
*.pyc
.env/*
fileStack/*
Imagenet/*
knn.py
manish.mourya001@chimera.umb.edu
phase2/job.script
phase2/myRecord.err
phase2/fully_connected_net.py.*
phase3/cs231n/datasets
phase4/data_for_project/*.mat
phase4/data_for_project/*.zip

